[Unit]
Description=Block automatic system suspend

[Service]
Type=simple
ExecStart=/usr/bin/systemd-inhibit --what=sleep --who=Waybar --why="Stay awake toggle is active" --mode=block /usr/bin/sleep infinity
