* {
  border: none;
  border-radius: 0px;
  font-family: "Inconsolata";
  font-size: 16px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  border-bottom-style: inset;
  border-bottom: 4px solid #565575;
  background: #100e23;
}

#workspaces,
#clock,
#custom-music,
#window {
  font-weight: 800;
}

/* Workspace Buttons */
#workspaces button label {
  color: #565575;
}
#workspaces button.focused label {
  color: #1d2021;
}
#workspaces button.focused {
  background: #565575;
}

#mode {
  background-color: #cc241d;
  color: white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 5px;
  margin: 0 10px;
}

#idle_inhibitor {
  padding: 0 10px;
}

#idle_inhibitor.activated {
  background-color: #565575;
  color: #1d2021;
}

#custom-music {
  color: #b8bb26;
  margin: 0 15px;
  padding: 0 20px;
  border-bottom: 4px solid #b8bb26;
}

#custom-worktime {
  padding: 0 5px;
  border-bottom: 4px solid #ebdbb2;
}

#clock {
  margin: 0;
  color: #cbe3e7;
  border-bottom: 4px solid #cbe3e7;
}

#network.disconnected {
  color: #cc241d;
  border-bottom: 4px solid #cc241d;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
  border-bottom: 4px solid #cc241d;
}
